/* PS Headline FONT */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif !important;
}

.h2,
h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Form Element fixes */
.custom-select,
select,
select.form-control,
select.form-control:focus,
select:focus {
  background: none;
  background-image: none;
}

.btn {
  text-transform: none;
  border: none;
  box-shadow: none;
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}

.btn-primary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input.form-control::placeholder {
  color: #666;
}

.form-control {
  font-size: 1rem;
  padding: 1rem 0.6rem;
}

.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.date-label {
  padding-left: 0.5rem;
}
.date-div {
  margin: 35px 0;
}

/* DOTS */

.bigdot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: relative;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: fixed;
}

.dot:nth-of-type(1) {
  top: 12%;
  left: 16%;
}

.dot:nth-of-type(2) {
  top: 17%;
  left: 17.5%;
}

.dot:nth-of-type(3) {
  top: 13%;
  left: 95%;
}

.dot:nth-of-type(4) {
  top: 41%;
  left: 16%;
}

.dot:nth-of-type(5) {
  top: 21%;
  left: 98%;
}

.dot:nth-of-type(6) {
  top: 55%;
  left: 99%;
}

.dot:nth-of-type(7) {
  top: 70%;
  left: 96%;
}

.dot-xs {
  height: 15px;
  width: 15px;
}

.dot-md {
  height: 25px;
  width: 25px;
}

.dot-lg {
  height: 35px;
  width: 35px;
}

.green {
  background-color: #89bd76;
}

.palegreen {
  background-color: #89bd76;
}

.red {
  background-color: #e1504d;
}

.palered {
  background-color: #e98475;
}

.gold {
  background-color: #f0cb17;
}

.palegold {
  background-color: #f4d76b;
}

.grey {
  background-color: #9f9a94;
}

main > div {
  background-color: white;
  margin: auto;
  width: 50%;
}

nav {
  background-color: #7cd071 !important;
}
.nav-logo {
  max-height: 30px;
  padding-right: 15px;
}

/* SPINNER */

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

/* ICONS */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather.x2 {
  width: 32px;
  height: 32px;
}

.feather.x3 {
  width: 64px;
  height: 64px;
}

.feather.x4 {
  width: 128px;
  height: 128px;
}

.feather.m64 {
  margin: 64px;
}

/* CARDS */

.main-card {
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);

  max-width: 48em;
  margin: 20px auto;
  padding: 1rem !important;

  height: 90vh;
  overflow: scroll;
}

.card-list {
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  margin-bottom: 30px;
}

.header-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  margin-top: 0;
}

/*  IndicatorList List elements */
.indicator-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.indicator-list ul li {
  justify-content: space-between;
  display: flex;
}

.stoplight-btn {
  padding: 0;
}

.card-stoplight {
  padding: 0;
}

/* App Navbar */

.app-navbar {
  background-color: #faefe1;
  margin: -1rem -1rem 0 -1rem;
  text-align: center;
}

.app-navbar h1 {
  line-height: 3;
}

.app-navbar-close {
  float: right;
  color: #787878;
}

.app-navbar-back {
  float: left;
  color: #787878;
}

/* Form Overrides */
.form-input-element {
  margin: -0.6rem 0.2rem;
}

.form-label {
  margin-bottom: 0rem;
}

/* .sticky-btn {
  margin: -1rem -0 0 -1rem;
  bottom: 0px;
  position: sticky;
  width: 105%;
} */


/* pa1nd Stytles */

button.bg-success:hover {

    background-color: #3f8638 !important

}
